<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :about %>
    <%= f.label 'Photo' %>
    <%= f.file_field :avatar %>
    <br/>
    <%= f.label 'Documentos' %>
    <%= f.file_field :documents, multiple: true %>
  </div>
  <br />

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
